.logement{
    width: 100%;
    max-width: 1240px;
    min-width: 250px;
    height: 100%;
    border-radius: 25px;
    margin: auto;
    background-color: #E5E5E5; /* F6F6F6 */

    &__list{
        margin: 0;
        padding: 56px 16px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 56px;
        column-gap: 50px;
        &__content{
            width: 340px;
            height: 340px;
            position: relative;
            &__bg{
                position: absolute;
                // bottom: 0;
                // border: 2px solid blue;
                width: 100%;
                height: 100%;
                background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
                border-radius: 10px;
            }
            &__cover{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
            &__name{
                position: absolute;
                bottom: 0;
                padding: 10px 20px;
                font-size: 18px;
                font-weight: 500;
                color: white;
            }
        }
    }
}

@media (max-width: 425px) { 
    .logement{
        background-color: transparent;
        &__list{
            padding: 0px;
            row-gap: 20px;
            &__content{
                &__bg{
                    height: 98%;
                }
            }
        }
    }
}

@media (max-width: 768px) { 
    .logement{
        &__list{
            &__content{
                width: 100%;
                min-width: 240px;
                max-width: 700px;
                height: 100%;
                min-height: 100px;
                max-height: 500px;
                & img{
                    // height: fit-content;
                    // width: fit-content;
                    object-fit: cover;
                }
                // &__cover{
                //     object-fit: cover;
                // }
                // &__bg{
                //     height: 99%;
                // }
            }
        }
    }
}