.error{
    & h1{
        font-size: 288px; // 288px
        font-weight: 700;
        line-height: 410.69px;
        color: $primary-color;
        text-align: center;
    }
    & p{
        font-size: 36px;
        font-weight: 500;
        line-height: 51.34px;
        color: $primary-color;
        text-align: center;
    }
    & a{
        font-size: 18px;
        font-weight: 500;
        line-height: 25.67px;
        text-decoration: underline;
        margin-top: 16px;
        color: $primary-color;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 768px) { 
    .error{
        & h1{
            font-size: 190px;
        }
    }
}
@media (max-width: 425px) { 
    .error{
        & h1{
            margin-top: 100px;
            line-height: 200px;
            font-size: 100px;
        }
        & p{
            font-size: 18px;
            line-height: 25px;
        }
        & a{
            font-size: 14px;
            line-height: 20px;
        }
    }
}